body {
    background-color: #348feb;
    margin: 0px;
    font-family: 'Hammersmith One', sans-serif;
}

nav {
    text-align: right;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    background-color: white;
    border-bottom: 5px lightgray ridge;
}

form {
    background-color: white;
    text-align: center;
    display: block;
    margin-top: 100px;
    margin-bottom: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    padding: 10px 5px 10px 5px;
    align-items: center;
    border: 1px gray solid;
    box-shadow: 0px 5px 5px 0px lightgray;
    border-radius: 5px;
}

h3{
    font-size: 25px;
}

button {
    font-family: 'Hammersmith One', sans-serif;
    background-color: #4272f5;
    color: white;
    margin: 2px;
    padding: 5px 30px 5px;
    border-radius: 5px;
    border-width: 2px;
    border-color: lightgray;
    padding: 8px 20px;
}

input {
    font-family: 'Hammersmith One', sans-serif;
    border-radius: 5px;
    border-width: 2px;
    border-color: lightgray;
    padding: 8px;
}

img {
    display: inline;
    margin: 10px 5px 15px 5px;
    width: 30px;
    height: 30px;
    border: 1px lightgray solid;
    border-radius: 50%;
}

.regForm {
    display: block;
    width: 270px;
    margin: 25px auto;
}

.navButton {
    font-size: 15px;
}

#formHeader {
    text-align: left;
}

#submit {
    width: 290px;
}
